<google-map [center]="center" [options]="options" width="360px" height="700px">
  <map-marker
    #info_marker="mapMarker"
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [visible]="true"
    [options]="marker.options"
    [icon]="marker.icon"
    (mapClick)="
      openInfo(
        info_marker,
        marker.title,
        marker.rating,
        marker.position.lat,
        marker.position.lng,
        marker.open_now
      )
    "
  ></map-marker>
  <map-info-window class="show-map-info-window">
    <div class="poi-title">
      {{ info.name }}
    </div>
    <div *ngIf="info.rating != '0'">
      {{ "Rating" | translate }}: <b>{{ info.rating }}</b>
    </div>
    <div *ngIf="info.open != ''">
      {{ "Open" | translate }}: <b>{{ info.open }}</b>
    </div>
    <div>
      {{ "Distance" | translate }}: <b>{{ info.distance }} km </b>
    </div>
    <div>
      ETA: <b>{{ info.eta }} {{ "Minutes" | translate }} </b>
    </div>
    <ion-button class="app-button" (click)="openGoogleMaps()">{{
      "Visit" | translate
    }}</ion-button>
  </map-info-window>
</google-map>
