@import "colors";
:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $button-color;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  position: relative;
}

.camera-icon {
  color: $secondary-color;
  font-size: 32px;
}

.camera-button {
  background-color: $highlight-color;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 40px;
  border: 2px solid $secondary-color;
}

.back-button {
  /* position: absolute; */
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: $highlight-color;
  /* bottom: 0.7rem; */
  /* left: 0.7rem; */
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0.5rem 0 0.5rem;
}

.weather {
  background-color: transparent;
  border: none;
  svg {
    width: 2.5rem;
    fill: $highlight-color;
  }
}
