.background-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  position: relative;
}

.camera-icon {
  color: var(--secondary-color);
  font-size: 32px;
}

.camera-button {
  background-color: var(--highlight-color);
  width: 50px;
  height: 50px;
  border-radius: 40px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--secondary-color);
}

.back-button {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: var(--highlight-color);
  bottom: 16px;
  left: 16px;
}
