:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  min-height: 100vh;
  /* gap: 1rem;
  padding: 0.5rem;
  position: relative; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  position: relative;
}

.camera-icon {
  color: var(--secondary-color);
  font-size: 32px;
}

.camera-button {
  background-color: var(--highlight-color);
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 40px;
  border: 2px solid var(--secondary-color);
}

.back-button {
  /* position: absolute; */
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: var(--highlight-color);
  /* bottom: 0.7rem; */
  /* left: 0.7rem; */
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}