<div class="background-container">
  <div class="wrapper">
    <google-map
      [center]="center"
      [options]="options"
      width="360px"
      height="700px"
    >
      <map-marker
        #info_marker="mapMarker"
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [visible]="true"
        [options]="marker.options"
        [icon]="marker.icon"
        (mapClick)="openInfo(info_marker, marker.title, marker.rating)"
      ></map-marker>
      <map-info-window
        class="show-map-info-window"
      >
        <div class="poi-title">
          {{ namePOI }}
        </div>
        <div>
          Rating: <b>{{ ratingPOI }}</b>
        </div>
        <ion-button class="app-button">visit</ion-button>
      </map-info-window>
    </google-map>
    <button class="camera-button" (click)="captureImage()">
      <ion-icon class="camera-icon" name="camera"></ion-icon>
    </button>
    <button (click)="goBack()" class="back-button">
      <ion-icon name="chevron-back-outline"></ion-icon>
  </button>
  </div>
</div>
