/* font */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

/* set colors variables */
:root {
  --button-color: #232946;
  --secondary-color: #fffffe;
  --main-color: #b8c1ec;
  --highlight-color: rgba(238, 187, 195, 0.8);
  --stroke-color: #121629;
}

/* css for buttons*/
.app-button {
  width: 15rem;
  height: 3rem;
  font-size: 16px;
  --border-radius: 10px;
  --border-width: 2px;
  --border-style: solid;
}

/* map info window (here bc of priority of css files) */
.gm-style .gm-style-iw-c {
  background-color: var(--main-color);
}

.gm-style .gm-style-iw-tc::after {
  background: var(--main-color);
}

.gm-style-iw-d::-webkit-scrollbar {
  display: none !important;
}

.gm-style .transit-container .transit-title,
.gm-style .transit-container div,
.poi-info-window div,
.poi-info-window a,
.gm-style .transit-div-line-name .renderable-component-bold {
  background-color: var(--main-color);
  color: var(--stroke-color);
}
