@import 'colors';
/* font */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}


/* css for buttons*/
// .app-button {
//   width: 15rem;
//   height: 3rem;
//   font-size: 16px;
//   border-radius: 10px;
//   border-width: 2px;
//   border-style: solid;
// }

/* map info window (here bc of priority of css files) */
.gm-style .gm-style-iw-c {
  background-color: $main-color;
}

.gm-style .gm-style-iw-tc::after {
  background: $main-color;
}

.gm-style-iw-d::-webkit-scrollbar {
  display: none !important;
}

.gm-style .transit-container .transit-title,
.gm-style .transit-container div,
.poi-info-window div,
.poi-info-window a,
.gm-style .transit-div-line-name .renderable-component-bold {
  background-color: $main-color;
  color: $stroke-color;
}

