<!-- <a-scene
  vr-mode-ui="enabled: false"
  arjs="trackingMethod: best; sourceType: webcam;debugUIEnabled: false;"
>
  <a-nft
    type="nft"
    url="../../../assets/images/mouse"
    smooth="true"
    smoothCount="10"
    smoothTolerance=".01"
    smoothThreshold="5"
  >
    <a-box scale="100 100 100" position="0 -5 -2"></a-box>
  </a-nft>
  <a-entity camera></a-entity>
</a-scene> -->

<!-- <a-scene
  vr-mode-ui="enabled: false"
  arjs="sourceType: webcam; videoTexture: true; debugUIEnabled: false;"
>
  <a-camera
    gps-new-camera="simulateLatitude: 51.049; simulateLongitude: -0.723"
  ></a-camera>
  <a-text
    value="Roxana"
    look-at="[gps-new-camera]"
    scale="75 75 75"
    gps-new-entity-place="latitude: 51.0491; longitude: -0.723;"
  ></a-text>
</a-scene> -->

<a-scene
  vr-mode-ui="enabled: false"
  arjs="sourceType: webcam; videoTexture: true; debugUIEnabled: false"
  renderer="antialias: true; alpha: true"
>
  <a-camera gps-new-camera="gpsMinDistance: 5"></a-camera>
  <!-- <a-entity material='color: red' geometry='primitive: box' gps-new-entity-place="latitude: 47.0602195; longitude: 26.9136198" scale="100 100 100"></a-entity> -->
</a-scene>
