<button (click)="goBack()" class="back-button">
  <ion-icon name="chevron-back-outline"></ion-icon>
</button>
<div class="wrapper">
  <ion-button
    class="app-button"
    routerLink="/map"
    [queryParams]="{ query: 'museum,theater' }"
    >{{'MenuOption1' | translate}}</ion-button
  >
  <ion-button
    class="app-button"
    routerLink="/map"
    [queryParams]="{ query: 'park,monument' }"
    >{{'MenuOption2' | translate}}</ion-button
  >
  <ion-button
    class="app-button"
    routerLink="/map"
    [queryParams]="{ query: 'church,cathedral' }"
    >{{'MenuOption3' | translate}}</ion-button
  >
  <ion-button
    class="app-button"
    routerLink="/map"
    [queryParams]="{ query: 'library,university' }"
    >{{'MenuOption4' | translate}}</ion-button
  >
  <ion-button
    class="app-button"
    routerLink="/map"
    [queryParams]="{ query: 'tourist' }"
    >{{'MenuOption5' | translate}}</ion-button
  >
</div>
