<div class="top-container">
  <div class="title-container">
    <h1>InsideIAȘI</h1>
  </div>
  <div class="buttons">
    <ion-button class="app-button" routerLink="/menu">login</ion-button>
    <ion-button class="app-button" routerLink="/menu">sign up</ion-button>
    <ion-button fill="clear" class="custom-start-button" routerLink="/menu"
      >continue without account</ion-button
    >
  </div>
</div>

<div class="description-container">
  <p class="description">
    AR app designed mainly for <br />
    discovering Iași city
  </p>
</div>
