:host {
  background-image: url("../../../assets/images/start_palace.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-size: cover;
  background-position: bottom;
}

.title-container {
  font-size: 16px;
  color: var(--secondary-color);
  align-self: center;
}

.top-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.description {
  color: rgba(184, 193, 236, 0.7);
  font-style: italic;
  font-size: 16px;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.app-button,
.custom-start-button {
  --color: var(--secondary-color);
  text-transform: lowercase;
}

.app-button {
  --background: var(--button-color);
  --border-color: var(--main-color);
}

.custom-start-button {
  font-size: 12px;
}
